.animation-button-wrapper {
    display: flex;
    /* margin-bottom: 3px; */
}

.animation-button {
    color: var(--text-color);
    background-color: transparent;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.35);
    font-size: 16px;
}

.animation-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.animation-copy {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.35);
    border-left: 0;
    display: inline-block;
    min-height: 44px;
    /* width: 18%; */
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.animation-copy:hover {
    filter: brightness(80%);
    cursor: pointer;
}
