.header {
    background-color: transparent;
    /* box-shadow: var(--box-shadow); */
    position: relative;
    z-index: 10;
    border-bottom: 0;
    z-index: 30;
    pointer-events: none;
}

.header__content-wrapper {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    pointer-events: none;
}

.header__content-wrapper > * {
    pointer-events: auto;
}
